body {
  font: 28px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  text-align: center;
  display: inline-block;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: x-large;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 98px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.playerTurn {
  font-weight: bold;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.red {
  color: red;
}
